@import '../partials/type';

.remove-btn {
    @extend .type-caption !optional;
}

.cart-total {
    position: absolute;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}