@import '../partials/type';

.story-popup {
    position: fixed;
    z-index: 700;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(2rem);
    background-color: rgba($color: #eeeeee, $alpha: 0.8);

    .story-popup-content {
        position: relative;
        height: 66.666vh;
        margin: 0 20px;
        width: calc(100% - 40px);
        overflow: scroll;

        display: flex;
        flex-direction: row;
        background-color: #ffffff;

        .popup-images {
            gap: 20px;
            width: 50%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            padding-bottom: 12rem;

            img {
                width: 100%;
            }
        }

        .popup-text {
            width: 50%;
            padding: 0 20px;
            @extend .type-body-m !optional;

            height: fit-content;
            max-height: 100vh;
            padding-bottom: 10rem;

            .text-content {
                background-color: #fff;
                margin-bottom: 20px;
                position: sticky;
                padding: 20px 0;
                top: 0;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            justify-content: flex-end;
            width: calc(100% - 20px);
            margin-right: 0;

            .popup-images,
            .popup-text {
                width: 100%;
                position: relative;
            }
        }

        .close-btn {
            font-weight: 200;
            font-size: 50px;
            top: 10px;
            right: 0;
            z-index: 950;
            position: absolute;
        }

        &.popup-red {
            background-color: var(--ca-primary);

            .text-content {
                background-color: var(--ca-primary);
            }
        }

    }

    .product-purchase {
        margin-top: 3rem;
    }

    &.half-width {
        justify-content: flex-start;

        .story-popup-content {
            @media (min-width: 768px) {
                width: calc(50vw - 20px);
            }

            .popup-text {
                width: 100%;
            }
        }
    }


    &.homepage-lightbox {
        z-index: 900 !important;
        
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #eeeeee, $alpha: 0.95);

        border: solid red 10px;

        .story-popup-content {
            margin: 0;
            width: 100vw;
            height: 100vh;
            background-color: transparent;
        }

        .popup-images {
            width: 100%;
            align-items: center;

            .carousel {
                height: 100vh;
            }
            .backup-single-image {
                margin-top: 7vh;
                padding: 20px;
            }
            img {
                object-fit: contain;
                margin: 0 !important;
                width: auto !important;
                height: 70vh !important;
            }
        }

        .popup-caption {
            @extend .type-caption !optional;
            position: absolute;
            bottom: 20px;
            right: 20px;
            left: 20px;

            display: flex;
            justify-content: space-between;
            
            p {
                flex: 1;
                text-align: center;
            }

            @media (min-width: 768px) {
                display: flex;
                gap: 3rem;
            }
        }
    }
}