@import '../partials/type';

.page-about {

    @media (min-width: 768px) {
        overflow: hidden;
    }
}

.about-page-grid {
    gap: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: 768px) {
        height: calc(100vh - 60px);
        overflow: hidden;
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .about-main-content {
        @extend .type-medium !optional;
        width: 100%;
        padding-top: 12rem;
        padding-bottom: 9rem;

        @media (min-width: 768px) {
            overflow: scroll;
            height: 100vh;
            padding: 25% 0;
            width: 70%;

        }

        p {
            margin-bottom: 1.5rem;
        }
    }

    .about-exhibitions-sidebar {
        width: 100%;
        padding-bottom: 9rem;

        @media (min-width: 768px) {
            width: 20%;
            padding: 25% 0;
            overflow: scroll;
        }

        .about-exhibition-list {
            @extend .type-caption !optional;
            margin-bottom: 2rem;

            h2 {
                margin-bottom: 1rem;
            }

            .about-exhibition-item {
                font-weight: 400;
                margin-bottom: 1rem;
                transition: color 0.3s ease;

                .about-exhibition-image {
                    width: 200px;
                    position: fixed;
                    opacity: 0;
                    filter: blur(2rem);
                    transition: opacity 0.3s ease, filter 0.3s ease;
                }

                &:hover {
                    color: var(--ca-primary);
                    transition: color 0.3s ease;
                    .about-exhibition-image {
                        @media (min-width: 768px) {
                            opacity: 1;
                            filter: blur(0);
                            transition: opacity 0.3s ease, filter 0.3s ease;
                        }
                    }
                }
            }
        }
    }
}
.about-exhibition-image.following-cursor {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    transition: opacity 0.2s ease, filter 0.2s ease;
}

.more-exhibitions-link {
    margin-top: 1rem; 
    padding-bottom: 3px;
    display: inline-block; 
    border-bottom: 2px solid; 
    transition: all 0.3s ease-in-out;

    &:hover {
        color: var(--ca-primary); 
        border-color: var(--ca-primary); 
        transition: all 0.3s ease-in-out;
    }
} 
