@import '../partials/type';

.products-grid {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    gap: 2rem;
    
    margin-top: 75dvh;
    place-items: center;

    @media (min-width: 769px) {
        padding: 6rem 8rem;
    }
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
 
    @media (min-width: 769px) {
        width: 45%;
        &:nth-child(4n+2),
        &:nth-child(4n+3) {
            padding: 4rem;
        }
    }
}

.product-image-container {
    width: 100%;
    margin-bottom: 1rem;
}

.product-image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.product-info-under {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;

    @media (max-width: 768px) {
        opacity: 1;
    }
}

.product-item:hover .product-info-under {
    @media (min-width: 769px) {
        opacity: 1;
    }
}

.product-type {
    @extend .type-caption !optional;
    text-transform: uppercase;
}

.product-price {
    @extend .type-caption !optional;
    color: var(--ca-primary);
}


